.my-flex {
  display: flex;
}

@each $val, $dir in $pos-val {
  @each $x-dir, $y-dir in $dir {
    @if ($x-dir) {
      .my-#{$x-dir} {
        @extend .my-flex;
        justify-content: $val;
      }
    }
    .my-#{$y-dir} {
      @extend .my-flex;
      align-items: $val;
    }
  }
}